<div class="container" ng-controller="courseEditorController">
    <h1> Create Course </h1>
    <div class="">
        <form name="form" >
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="form-group">
                        <label for="moduleImage">Image <span class="text-danger">* </span></label>
                        <input type="file" file-model="myForm.files[0]" required accept="image/*"   /><br /> 
                        

                    </div>
                </div>
                <div class="col-12 col-md-6 ">
                    <div class="row">
                        <div class="col-4">
                                
                            <div class="form-group">
                                <label for="moduleBg">Hex Color Code <span class="text-danger">* </span></label> <br/>
                                <input type="text" bgcolor class="form-control" id="moduleBg" ng-model="module.moduleBg" name = "moduleBg" maxlength="7" placeholder="Enter without #" value="#" required>
                                <span ng-show="form.moduleBg.$pending.bgcolor">Checking if this color code is valid or not...</span>
                                <span ng-show="form.moduleBg.$error.bgcolor" class="text-danger">This Color Code is Invalid or try without #.</span>      
                            </div>
                        </div>
                        <div class="col-3">
                        <div class="form-group">
                            <label for="moduleBg">Color  </label>
                            <div class="inline" style="background-color:#{{module.moduleBg}}; width:20px;height:20px;border:1px solid black"></div>
                        </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">

                </div>
                <div class="col-md-6 col-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="moduleTitle">Module Title <span class="text-danger">* </span></label>
                        <input type="text" class="form-control" id="moduleTitle" ng-model="module.moduleTitle" name="moduleTitle" placeholder="" username required>
                        <span ng-show="form.moduleTitle.$pending.username">Checking if this name is available...</span>
                        <span ng-show="form.moduleTitle.$error.username" class="text-danger">No Special characters are allowed except "-"</span>
                        <span ng-show="form.moduleTitle.$touched && form.moduleTitle.$invalid" class="text-danger">The name is required.</span>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="difficultyLevel">Difficulty Level <span class="text-danger">* </span></label>
                        <select class="form-control"  id="difficultyLevel" ng-model="module.difficultyLevel" required>
                        <option value = "BEGINNER">BEGINNER</option>
                        <option value = "INTERMEDIATE">INTERMEDIATE</option>
                        <option value = "EXPERT">EXPERT</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="moduleDescription">Module Description <span class="text-danger">* </span></label>
                        <textarea class="form-control" id="moduleDescription" ng-model="module.moduleDescription" rows="5" required></textarea>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="moduleTag">Module Tags <span class="text-danger">* </span></label>
                        <input type="text" class="form-control" id="moduleTag" name="moduleTag" ng-model="module.moduleTag" placeholder="Enter tags with a '  ,  ' Eg: Ddos, Cyber Security, ML " tags required>
                        <span ng-show="form.moduleTag.$pending.tags">Checking if this name is available...</span>
                        <span ng-show="form.moduleTag.$error.tags" class="text-danger">No Special characters are allowed except ","</span>
                        <span ng-show="form.moduleTag.$touched && form.moduleTag.$invalid" class="text-danger">The Tags are required.</span>
                    
                    </div>

                     <div class="form-group">
                        <label for="moduleTime">Module Time (hr) <span class="text-danger">* </span></label>
                        <input type="number" step="0.5" min="0" class="form-control"  name="moduleTime" id="moduleTime"   ng-model="module.moduleTime" placeholder="Enter approx. time required for the module to complete" oninput="validity.valid||(value='');" required>
                        <!--<span ng-show="form.moduleTime.$pending.time">Checking if this name is available...</span>
                        <span ng-show="form.moduleTime.$error.time" class="text-danger">Invalid Time. Module time cannot be zero or negative</span>
                        <span ng-show="form.moduleTime.$touched && form.moduleTime.$invalid" class="text-danger">Module time is required.</span>
                        -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="form-group">
                        <label for="noOfLabs">Number of Lab Steps <span class="text-danger">* </span></label>
                        <input type="number" step="1" min="1" class="form-control"  name="noOfLabs" id="noOfLabs" ng-change="resetLabs()"  ng-model="module.noOfLabs" placeholder="Enter no. of labs" oninput="validity.valid||(value='');" required>
                    </div>
                </div>
            </div>
            
           
            
            <div class="" ng-show="module.noOfLabs">
                <div class="row" ng-repeat="x in range(0,module.noOfLabs)">

                    
                    <div class="col-4" ng-if="x == 0" >
                        <label for="labNames{{x}}">Getting Started <span class="text-danger">* </span></label>
                        <input class="form-inline" type="file" file-model="labs.files[{{x}}]" accept=".html" required/><br /> 
                
                    </div>
                    
                    
                        <div class="col-4" ng-if="x > 0" >
                            <label for="labNames{{x}}">Lab Step {{x}} Name <span class="text-danger">* </span></label>
                            <input type="text" class="form-control" id="labNames{{x}}" ng-model="module.labNames[x]" name="labNames{{x}}" placeholder="" required>
                    
                        </div>
                        <div class="col-4" ng-if="x > 0">
                            <label >Lab Step {{x}} Html File to upload :  <span class="text-danger">* </span></label>
                            <input class="form-inline" type="file" file-model="labs.files[{{x}}]" accept=".html" required/><br /> 
                        </div>
                    
                </div>
            </div>
            <div class="mt-3">
                <h4 class="font-weight-bold"> Evaluation Questions </h4>
                <div class-"container presurvey">
                    <h5> Pre-Evaluation Survey Questions </h5>
                    <div class="row my-2" ng-repeat="(key,value) in module.evaluation.preSrvyQuestions">
                        <div class="col-6" >
                            <!--<p>{{key}} , {{value}}</p>-->
                            
                            <label for="preSrvyQuestions{{x}}">Question.{{key}}</label>
                            <input type="text" class="form-inline form-control" name="preSrvyQuestions{{key}}" id="preSrvyQuestions{{key}}" ng-model="module.evaluation.preSrvyQuestions[key]" placeholder="" required>
                            
                        </div>
                        <div class="col-1"></div>
                        <div class="col-3">
                            <div class="">
                                <label  >Actions</label ><br>
                                <button type="button" ng-click="deleteQuestion('preSrvyNo',key)" class="btn btn-warning align-middle delete_question " ng-disabled="module.evaluation.preSrvyNo == 1" title="Delete Question"><i class="fa fa-trash-o fa-lg"></i></button>
                                <button type="button" ng-click="insertQuestionBelow('preSrvyNo',key)" class="btn btn-success align-middle add_question_below"  title="Add Question Below" ><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="increasePreSrvyNo()" class="btn btn-primary mt-3 mb-5"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>

                <div class-"container presurvey">
                    <h5> Tech Questions </h5>
                    <div class="row my-2" ng-repeat="(key,value) in module.evaluation.techAsmtQuestions">
                        <div class="col-5" >
                            <!--<p>{{key}} , {{value}}</p>-->
                            
                            <label for="techAsmtQuestions{{x}}">Question.{{key}}</label>
                            <input type="text" class="form-inline form-control" name="techAsmtQuestions{{key}}" id="techAsmtQuestions{{key}}" ng-model="module.evaluation.techAsmtQuestions[key].question" placeholder="" required>
                            
                        </div>
                        <div class="col-5" >
                            <!--<p>{{key}} , {{value}}</p>-->
                            
                            <label for="techAsmtQuestions{{x}}">Answer.{{key}}</label>
                            <input type="text" class="form-inline form-control" name="techAsmtQuestions{{key}}" id="techAsmtQuestions{{key}}" ng-model="module.evaluation.techAsmtQuestions[key].answer" placeholder="" required>
                            
                        </div>
                        
                        <div class="col-2">
                            <div class="">
                                <label  >Actions</label ><br>
                                <button type="button" ng-click="deleteQuestion('techAsmtNo',key)" class="btn btn-warning align-middle delete_question" ng-disabled="module.evaluation.techAsmtNo == 1" title="Delete Question"><i class="fa fa-trash-o fa-lg"></i></button>
                                <button type="button" ng-click="insertQuestionBelow('techAsmtNo',key)" class="btn btn-success align-middle add_question_below" title="Add Question Below" ><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <button type="button" ng-click="increaseTechAsmtNo()" class="btn btn-primary mt-3 mb-5"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>

            

            
            

            <button  ng-click="reset();" class="btn btn-warning">Reset</button>
            <span ng-if="(myForm.files.length != null) && (labs.files.length == (module.noOfLabs + 1)) ">
                <button type="submit" ng-disabled="form.$invalid" ng-click="update(module)" class="btn btn-primary" >Save</button>
            </span>
            
            

            <button ng-click="courseeditor();" class="btn btn-danger btn-inline pull-right">Cancel</button>
            
            <button ng-show="disableCreate"  class="btn btn-success pull-right mr-1" disabled >Create</button>
            <button ng-show="!disableCreate"  ng-click="createcourse($event.target);" class="btn btn-success pull-right mr-1" >Create</button>
            
            
            
        </form>
        
        <!--<pre>evaluation Details = {{evaluation | json}}</pre>-->
        <!--<pre>Your Form = {{module | json}}</pre>-->
        <pre>Saved Module Details = {{mastermodule | json}}</pre>
        <h2>Upload Results:</h2>
         <div style="border:1px solid #ccc;padding: 5px;">
            <span ng-bind="uploadResult"></span>
         </div>
    </div>

</div>

<style>
input:focus { 
    outline: none !important;
    border-color: #1D5BB6;
    box-shadow: 0 0 10px #1D5BB6;
}
textarea:focus { 
    outline: none !important;
    border-color: #1D5BB6;
    box-shadow: 0 0 10px #1D5BB6;
}
.form-control{
    border : 1px solid grey;
}
.form-control:focus{
    border : 1px solid red;
}

</style>