



<div style="background-color: black;">
    <br>
    <p style="color: aliceblue;margin-left: 15%;margin-top: 4%;font-size: 40px;"> <b>About</b></p>
    <br>
</div>
<section class="mcr-sub-section section-part-two">
    <div class="container">
        
        <div class="row">
        
        <div class="col-md-12 " style="margin: 30px 0;" >
        
        <div class="row module_row" >			
            <div class="col-md-7">
            <h2 class="main-section-title text-left" style="font-size:30px;" >
                <b> About Mizzou Cloud DevOps</b>
            </h2>
            <hr style="margin-left: 24px" />
            <p class="text-justify">
                 Mizzou Cloud DevOps is a cyber defense learning platform that consists of an educational catalog of immersive, hands-on laboratory exercises divided on the basis of difficulty levels. It aims for easy-to-deploy cyber defense practice scenarios on a cloud platform by implementing a user-friendly interface with the capability to launch infrastructures with all the required tools and libraries installed. Students can use the Mizzou Cloud DevOps to launch, detect and defend against an cyber attacks in a safe environments. The lab exercises are built using standardized tools that are open for the industry. It provides flexibility to set, reset, customize, scale and extend virtualized and admin managed cybersecurity modules.

            </p>
            </div>
            <div class="col-md-4">
            <img src="/MizzouCyberRange/img/modules/homescreen_for_about.png" width="500" height="300"/>
            </div>
        </div>

<!--         <div class="col-md-8 rightContent">
            <h2 class="main-section-title text-right" style="font-size:30px">
                    <b>	Why join Cyber Range?  </b>
                    </h2>
            <hr style=" margin-left: 173px;width: 76%" />
            <p class="text-justify">
                The 5th-generation attacks move very fast and in mere hours can infiltrate malware and proliferate from and to virtually disrupting any vector of a cyberinfrastructure across large geographic regions.
                </p>
                <p class="text-justify"> To mitigate such impactful and advanced cyber attacks, the new generation needs to be equipped with cyber defense tools and trained sufficiently to not only outnumber these attackers but also inspire them to continually learn and invent new solutions for protection.</p>
        </div> -->
            </div>
        </div>
        </div>

    <div class="container">
            <h2 class="main-section-title text-left" style="font-size:30px">
                    <b> Publications </b>
                    </h2>
                     <br>
                <ul>
                    <li style="font-size:16px;"> Neupane, R.L., Neely, T., Chettri, N., Vassell, M., Zhang, Y., Calyam, P. and Durairajan, R., 2018, January. Dolus: cyber defense using pretense against DDoS attacks in cloud platforms. <i>In Proceedings of the 19th International Conference on Distributed Computing and Networking </i>(pp. 1-10). </li>
                    <li style="font-size:16px;">
                    Neupane, R.L., Neely, T., Calyam, P., Chettri, N., Vassell, M. and Durairajan, R., 2019. Intelligent defense using pretense against targeted attacks in cloud platforms. <i>Future Generation Computer Systems</i>, 93, pp.609-626.
                    </li>
                    <li style="font-size:16px;">
                    Vekaria, K.B., Calyam, P., Wang, S., Payyavula, R., Rockey, M. and Ahmed, N., 2021. Cyber Range for Research-Inspired Learning of 'Attack Defense by Pretense' Principle and Practice. <i>IEEE Transactions on Learning Technologies</i>.
                    </li>
                    
                </ul>


        </div> 

<div class="container">
    <h2 class="main-section-title text-left" style="font-size:30px">
                    <b> News Release: </b>
                    </h2>
                    <br>
            <ui >
               <li style="font-size:16px;"> <a href="https://engineering.missouri.edu/2020/09/mizzou-cyber-range-to-focus-on-cyber-pretense-strategies/">https://engineering.missouri.edu/2020/09/mizzou-cyber-range-to-focus-on-cyber-pretense-strategies/</a></li>
                <li style="font-size:16px;">
                <a href="https://engineering.missouri.edu/2021/06/mizzou-engineer-offers-tips-on-preventing-ransomware-attacks/">https://engineering.missouri.edu/2021/06/mizzou-engineer-offers-tips-on-preventing-ransomware-attacks/</a></li>
                <li style="font-size:16px;">
                <a href="https://beta.darkreading.com/cloud/researchers-devise-new-method-of-intrusion-deception-for-sdn">https://beta.darkreading.com/cloud/researchers-devise-new-method-of-intrusion-deception-for-sdn</a></li>
                <li style="font-size:16px;">
                <a href="https://engineering.missouri.edu/ceri-center/hacker-tracker-cyber-security-camp/">https://engineering.missouri.edu/ceri-center/hacker-tracker-cyber-security-camp/</a></li><br>
            </ui>
         </div> 

<!-- <div style="background:#ffb300;">
<div class="col-md-8" >
    <br>
    <div style="font-size:30px; margin-left: 50%;">	
            <h2> <b>Revolutionized Training </b> </h2>
    </div>		
    <br>
    <div style="font-size:30px; margin-left: 50%;">
        <ol>
        <li class="ng-binding" style="font-size:x-large"><b>Realistic Simulations  </b>
        <p class="text-justify">The platform enables realistic simulations of critical information infrastructures in a fully controlled and monitored environment.</p>
        </li>
        <li class="ng-binding" style="font-size:x-large"><b>Scalable and Flexible </b> 
        <p class="text-justify">Our infrastructure has scalability and flexibility features as it is hosted on a cloud environment.
        </li>
        <li class="ng-binding" style="font-size:x-large"><b>Exercises and Activities </b>
        <p class="text-justify">We detail our methodology to develop four laboratory exercises and self-study activities to foster effecting learning of basic and advanced cyber defense concepts using cloud-based application testbeds. </p>
        </li>
        <li class="ng-binding" style="font-size:x-large"><b>Step-by-Step instructions</b>
        <p class="text-justify">We present step-by-step instructions along with relevant data sets as well as code bases that can be used to train the next-generation workforce to build robust cloud-based applications with disincentives to attackers that make the attacker's task difficult, costly, time consuming and uncertain.</p>
        </li>
        </ol>
    </div>
</div>
</div> -->
    
    
<!--     <div class="container">
        <div class="row">
            
        <div class="col-md-12 " style="margin: 30px 0;" >
            
        <div class="row module_row" >
        <div class="col-md-4" >
                
            <p style="font-size:30px"> <b>Research-Inspired Learning </b></p>		 
        </div>
        <div class="col-md-8 ">
            <p class="text-justify">Mizzou Cyber Range platform includes learning labs based on cutting-edge research projects in cybersecurity.</p>
            <p class="text-justify">A student is able to experience both an attacker and the defender while executing the learning labs, and earns point for challenges in form of technical assessments.
            </p>
        </div>
        </div>
        
        <div class="row module_row" >
        <div class="col-md-4" >
                <p style="font-size:30px"><b>Learn, Apply & Create </b></p>
        </div>
        <div class="col-md-8" >
                <p class="text-justify"> The project brings research and learning together to build an effective three phase pedagogical approach (Learn,Practice and Create) cyber security learning tool.</p>
                <p class="text-justify"> Our research inspired learning emphasizes on the real-time worldwide ongoing cyber attack map that teaches the prevalent cyber attacks and defense techniques.</p>
        </div>
        </div>
        </div>
        </div>
    </div> -->
</section>

<style>
    .rightContent {
        margin-left: 400px;
    }
</style>
