

<div style="background-color: black;">
	<br>
	<p style="color: aliceblue;margin-left: 15%;margin-top: 4%;font-size: 40px;"> <b>Educational Catalog</b></p>
	<br>
</div>

<section class="mcr-sub-section secction-part-two">
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-12 " >
					<p style="font-size:30px;"><b> Difficulty Level </b></p>

					<div class="col-md-12 order-2 order-md-1 text-center">
					<p>
						Our designed educational catalog is segregated in categories of Beginner, Intermediate and Expert as per difficulty level.
						
					</p>
					</div>
				</div> -->
				
				<!-- <div class="col-md-12 " >
					<div class="row">
						<div class="col-md-4 education_cat" >
							<div class="education_icon BEGINNER"><i class="fa fa-trophy"></i></div>
							<div class="education_title" style="color: #bb7b49;">Beginner</div>
							<div class="education_detail">
								<p>Beginner level modules will help you to understand cyber defense mechanism to detect and defend attacks such as Distributed Denial of Service (DDoS) attacks using a moving target policy
								</p>
							</div>
						</div>
						
						<div class="col-md-4 education_cat" >
							<div class="education_icon Intermediate"><i class="fa fa-trophy"></i> <i class="fa fa-trophy"></i></div>
							<div class="education_title" style="color: #969a9a;">Intermediate</div>
							<div class="education_detail">
								<p>Intermediate level modules will help you to understand cyber defense mechanism to detect and defend attacks such as Distributed Denial of Service (DDoS) attacks using a pretense policy  
								</p>
							</div>
						</div>
						
						<div class="col-md-4 education_cat" >
							<div class="education_icon expert"><i class="fa fa-trophy"></i> <i class="fa fa-trophy"></i> <i class="fa fa-trophy"></i></div>
							<div class="education_title" style="color: #f1b82d;">Expert</div>
							<div class="education_detail">
								<p>
								Expert level modules will help you to understand cyber defense mechanism to detect and defend attacks such as APT and Cryptojacking using a pretense policy
								</p>
							</div>
						</div>
					</div>
		
				</div> -->
				
				<div class="col-md-12 " >
				
				<p style="font-size:30px;"><b> Learning Modules </b></p>
				<div style="text-align: -webkit-center;">
					<p style="max-width:70%;"> Each lab is designed to allow students to learn about cyber security flaws in real-life applications. Student are tasked to analyze security flaws and fix them using necessary network and data science tools.</p>
				</div>
				
				<div class="col-md-12 " style="margin: 30px 0;" >
					<div class="row module_row"   >
						<div class="col-md-3 ">
							<div class="boxshadow">
							<div class="module_img1" style="background:#17a2b8;">
								<img src="/MizzouCyberRange/img/modules/kubernetes.svg" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;"><b>Time to Complete -</b> 2.5 hours <i class="fa fa-clock-o"></i></div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="modules_all">
								<div class="modules_title">
									Module 1: Kubernetes on PRP Nautilus with Visual Cloud Computing App
									
								</div>
								<div class="modules_details">
									<p>This Lab is a basic implementation of streaming and analyzing video data and object tracking algorithms. Learners will gain Kubernetes skills by using PRP Nautilus cloud platform. Hands-on skills on Kubernetes fundamentals such as Pod, Deployment, Service, Load Balancing, Ingress, Persistent Volumes.</p>
								</div>
								
							</div>
						</div>
					</div>
					<div class="row module_row"  >
					<div class="col-md-3 ">
						<div class="boxshadow">
							<div class="module_img1" style="background:#6c757d;">
								<img src="/MizzouCyberRange/img/modules/sdn.svg" />
							</div>
							<div class="modules_icon" style="text-align: center;" >
								<div class="ng-binding" style="font-size: small;"><b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i></div>
								</div>
							</div>
						</div>
						
						<div class="col-md-7">
							<div class="modules_all">
								<div class="modules_title">
									Module 2: Software Defined Networking on GCP with Cyber Defense App
									
								</div>
								<div class="modules_details">
	
									<p>This lab teaches SDN capabilities using VXLAN protocol. Learners will learn basics of how to create virtual network overlay on GCP and create a virtual network topology for performing defense by pretense using Dolus system.Hands-on skills to be learning include various tools such as: Frenetic, Tshark, Scapy, Docker, MySql, Shell, Python, and OVS vSwitch.</p>

									
								</div>
								
							</div>
						</div>
					</div>
					
					
					<div class="row module_row"  >
						<div class="col-md-3 ">
							<div class="boxshadow">
							<div class="module_img1" style="background:#ffc107;">
								<img src="/MizzouCyberRange/img/modules/kubeedge.svg" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;"><b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i></div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="modules_all">
								<div class="modules_title">
									Module 3: Edge Computing with KubeEdge
									
								</div>
								<div class="modules_details">
		
									<p>Learners explore KubeEdge for edge computing with trusted bioinformatics. This module show how a KubeEdge cluster can orchestrate high performance computing workflows on selected nodes within a cluster. Hands on experience on: KubeEdge, Edge Computing.</p>

								</div>
								
							</div>
						</div>
						
					</div>
					
					<div class="row module_row"  >
					<div class="col-md-3 ">
						<div class="boxshadow">
							<div class="module_img1" style="background:#bc53ed;">
								<img src="/MizzouCyberRange/img/modules/jenkins.svg"/>
							</div>
							<div class="modules_icon" style="text-align: center;">
							<div class="ng-binding" style="font-size: small;"><b>Time to Complete -</b> 4 hours <i class="fa fa-clock-o"></i></div>
							</div>
						</div>
						</div>
						<div class="col-md-7">
							<div class="modules_all">
								<div class="modules_title">
									Module 4: CI/CD with Jenkins on AWS with data-intensive web app
									
								</div>
								<div class="modules_details">
									<p>This module helps in understanding CI/CD using Jenkins tool. The lab uses an app called KnowCOVID-19 which will be used as a basis for showing continuous integration and continuous delivery. Hands on experience on: Jenkins,App development, CI/CD.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
</section>

<style> 
	.boxshadow {
	padding: 10px;
	box-shadow: 5px 10px 8px 10px whitesmoke;
	
	}
	</style>