
	<section class="mcr-main__layer">
        <section class="mcr-hero" style="background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
      url(/MizzouCyberRange/img/background_1.jpg);
      background-position: center 50%;
      background-size: cover;min-height: 450px;height: 450px;">
            <div class="mcr-container">
                <div class="mcr-hero__content">
                    <h5 class="mcr-kicker--homepage">Mizzou Cloud DevOps</h5>
                    <h4 class="mcr-hero__title">Training the Future Generation of Cyber Defenders</h4>
                </div>
            </div>
        </section>
    </section>
    
    
    
    <section class="mcr-sub-section secction-part-two">
		<div class="container" >
		<div>
		<p style="font-size:24px;"><b> A Cyber Defense Learning Platform </b></p>
		<div style="text-align: -webkit-center;">
		<p style="max-width:70%;"> Our research inspired learning emphasizes on the real-time worldwide ongoing cyber attack map that teaches the prevalent cyberattacks and defense techniques. Students can work on hands-on lab exercises to explore, execute, and evaluate cyber defense mechanisms.</p>
		</div>
			
			<div class="row">
				
				<div class="col-md-12 " >
				
				<div class="row module_row" >			
          			<div class="col-md-5">
            			<h3 class="main-section-title text-left" style="font-size:24px;" >
							<b> Flexible Education Catalog</b>
						</h3>
            		<hr style="margin-left: 24px" />
            		<p class="text-justify">
               			 Mizzou Cloud DevOps features an educational catalogue of immersive, hands-on laboratory exercises on major cyber threats organized under varying difficulty levels.
               		</p>
               		</div>
					<div class="col-md-7">
					<img src="/MizzouCyberRange/img/modules/rangesc_for_home.png" width="100%" height="300"/>
					</div>
	    	</div>
	    <div class="row module_row" >
	      <div class="col-md-7">
			<img src="/MizzouCyberRange/img/modules/modulesc_for_home.png" width="100%" height="300"/>
		  </div>			
          <div class="col-md-5" >
            <h3 class="main-section-title text-left" style="font-size:24px;" > <b>Cloud-hosted and Easy to Use</b> </h3>
            <p class="text-justify" style="text-align:center;">
                It aims for easy-to-deploy cyber defense practice scenarios on a cloud by implementing a user-friendly interface with the capability to launch infrastructures with all required tools and libraries installed and ready to launch, detect and defend against an attack.
          </div>
			
	    </div>
				</div>
			</div>
		</div>
		
		<div class="container" id="learn-more" style="padding-top: 75px; padding-bottom:75px; background-color: #f2f2f2;">
			<h3 style="font-size: 24px; font-weight: 500; text-align: center;"><b>Features</b></h3>
			<div class="row" style="padding-right: 6%;padding-left: 6%;">
				<div class="home_page_learnmore_sub" style="padding:2%;text-align: -webkit-center; background-color: white; margin:12px;">
					<div>
						<div class="home_icon_div" style="width: 84px; height: 72px; margin-bottom: 32px;">
							<img class="home_icon " src=" /MizzouCyberRange/img/static/application.svg" style="width: 48px; height: 48px;margin-top: -20px;"/>
						</div>
						<div class="home_icon_title" >Real Application Scenarios</div>
						<p class="home_icon_detail">
							Mizzou Cyber Range provides cyber infrastructure to students based on real application scenarios such as gaming  application, healthcare application, Bio-informatics application.
						</p>
					</div>
				</div>
				
				<div class="home_page_learnmore_sub" style="padding:2%;text-align: -webkit-center;background-color: white; margin:12px;">
						<div>
							<div class="home_icon_div" style="width: 84px; height: 72px; margin-bottom: 32px;">
								<img class="home_icon " src=" /MizzouCyberRange/img/static/cyberattack.svg" style="width: 48px; height: 48px;margin-top: -20px;"/>
							</div>
							<div class="home_icon_title" >Real World Cyber Attacks</div>
							<p class="home_icon_detail">
								Mizzou Cyber Range focuses on very on-trend attacks like Distributed Denial of Service attacks, Advanced Persistent threat attacks, Advanced Persistent Miner attack or Crypto Jacking attacks.	
							</p>
						</div>
					</div>
					
					<div class="home_page_learnmore_sub" style="padding:2%;text-align: -webkit-center;background-color: white; margin:12px;">
						<div>
							<div class="home_icon_div" style="width: 84px; height: 72px; margin-bottom: 32px;">
								<img class="home_icon " src="/MizzouCyberRange/img/static/research.svg" style="width: 48px; height: 48px;margin-top: -20px;"/>
							</div>
							<div class="home_icon_title" >Research-Inspired Learning</div>
							<p class="home_icon_detail">
									Mizzou Cyber Range brings research and learning together to build an effective three phase pedagogical approach (Learn, Apply and Create) via cyber security learning tools. Our research-inspired learning emphasizes realistic cyber attacks and their defense techniques.
							</p>
						</div>
					</div>		
				
			</div>	
		</div>
		<!-- <div class="container">
		   <div style="text-align:center">
		     <div class="institutions">
		     <div style="text-size:16px"> Institutions that trust trust Mizzou Cyber Range</div>
		     
		     </div>
		   </div>
		</div> -->
	</section>
	<style>
	.institutions {
	display:flex;
	
	}
	</style>
	