<div style="background-color: black;">
	<br>
	<p style="color: aliceblue; margin-left: 15%; margin-top: 4%; font-size: 40px;">
		<b>Educational Catalog</b>
	</p>
	<br>
</div>

<section class="mcr-sub-section secction-part-two">
	<div class="container">
		<div class="row">

			<!-- Learning Modules Intro -->
			<div class="col-md-12">
				<p style="font-size:30px;"><b>Learning Modules</b></p>
				<div style="text-align: -webkit-center;">
					<p style="max-width:70%;">
						Mizzou Cloud and DevOps labs are designed to allow students to use real-life applications to experience emerging technologies such as Cloud and DevOps.
						Students are tasked to create containers, use DevOps tools, monitoring and management tools.
					</p>
				</div>
			</div>

			<!-- Module 1 -->
			<div class="col-md-12" style="margin: 30px 0;">
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#17a2b8;">
								<img src="/MizzouCloudDevOps/img/modules/kubernetes.svg" style="max-width: 100% !important;" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 1: Kubernetes with Visual Cloud Computing app</div>
							<div class="modules_details">
								<p>
									This Lab is a basic implementation of streaming and analyzing video data and object tracking algorithms. Learners will gain Kubernetes skills by using NRP Nautilus cloud platform. Hands-on skills on Kubernetes fundamentals such as Pod, Deployment, Service, Load Balancing, Ingress, Persistent Volumes. This module can be performed on PRP Nautilus or AWS cloud platforms.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 2 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#6c757d;">
								<img src="/MizzouCloudDevOps/img/modules/sdn.svg" style="max-width: 100% !important;" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 2: Software Defined Networking with Cyber Defense app</div>
							<div class="modules_details">
								<p>
									This lab teaches SDN capabilities using VXLAN protocol. Learners will learn basics of how to create virtual network overlay on GCP and create a virtual network topology for performing defense by pretense using Dolus system. Hands-on skills to be learning include various tools such as: Frenetic, Tshark, Scapy, Docker, MySql, Shell, Python, and OVS vSwitch. This module can be performed on GCP or AWS cloud platforms.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 3 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#ffc107;">
								<img src="/MizzouCloudDevOps/img/modules/kubeedge.svg" style="max-width: 100% !important;" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 3: Edge Computing with KubeEdge</div>
							<div class="modules_details">
								<p>
									Learners explore KubeEdge for edge computing with trusted bioinformatics. This module show how a KubeEdge cluster can orchestrate high performance computing workflows on selected nodes within a cluster. Hands on experience on: KubeEdge, Edge Computing. This module can be performed on Open Cloud (GENI) or AWS cloud platforms.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 4 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#28a745;">
								<img src="/MizzouCloudDevOps/img/modules/jenkins.svg" style="max-width: 100% !important;" />
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 4: CI/CD with Jenkins with data-intensive web app</div>
							<div class="modules_details">
								<p>
									This module helps in understanding CI/CD using Jenkins tool. The lab uses an app called KnowCOVID-19 which will be used as a basis for showing continuous integration and continuous delivery. Hands on experience on: Jenkins, App development, CI/CD. This module can be performed on AWS cloud platform.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 5 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#000000;">
								<div align="center" style="margin-top:30px">
									<img align="bottom" style="max-width: 100% !important;" src="/MizzouCloudDevOps/img/modules/tanzu.svg" />
								</div>
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 5: VMWare Tanzu for Kubernetes Cluster Management</div>
							<div class="modules_details">
								<p>
									This module helps in management of Kubernetes cluster using the VMWare Tanzu Community Edition. The lab uses a Drone Video Processing Pipeline example to demonstrate the basics and utility of the Tanzu platform.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 6 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#800000;">
								<div align="center" style="margin-top:30px">
									<img align="bottom" style="max-width: 100% !important;" src="/MizzouCloudDevOps/img/modules/ansible.svg" />
								</div>
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 6: Ansible for Infrastructure as Code with Cybersecurity Ops app</div>
							<div class="modules_details">
								<p>
									This module is built to teach Ansible and its concepts to the learners for provisioning, configuration management, and application deployment.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 7 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#0000ff;">
								<div align="center" style="margin-top:30px">
									<img align="bottom" style="max-width: 100% !important;" src="/MizzouCloudDevOps/img/modules/kubeflow.svg" />
								</div>
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 2 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 7: Kubeflow on AWS with Smart Scheduling App</div>
							<div class="modules_details">
								<p>
									In this lab module you will learn how to deploy Machine Learning pipelines using Kubeflow on AWS with an appointment scheduling use case application.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Module 8 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#274e13;">
								<div align="center" style="margin-top:30px">
									<img align="bottom" style="max-width: 100% !important;" src="/MizzouCloudDevOps/img/modules/prometheusgrafana.svg" />
								</div>
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 2 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 8: Prometheus and Grafana on AWS with Video Transmission App</div>
							<div class="modules_details">
								<p>
									In this lab module, you will learn how to deploy and configure Prometheus and Grafana for monitoring the metrics of a real time video transmission application.
								</p>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Module 9 -->
				<div class="row module_row">
					<div class="col-md-3">
						<div class="boxshadow">
							<div class="module_img1" style="background:#d35400;">
								<div align="center" style="margin-top:30px">
									<img align="bottom" style="max-width: 100% !important;" src="/MizzouCloudDevOps/img/modules/newcc.svg" />
								</div>
							</div>
							<div class="modules_icon" style="text-align: center;">
								<div class="ng-binding" style="font-size: small;">
									<b>Time to Complete -</b> 3 hours <i class="fa fa-clock-o"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-7">
						<div class="modules_all">
							<div class="modules_title">Module 9: Confidential Computing to Secure Data Processing Using Certifier Framework</div>
							<div class="modules_details">
								<p>
									In this lab module, you will learn how to configure the Certifier Framework for simulating a Confidential Computing environment to execute bioinformatics workflows.
								</p>
							</div>
						</div>
					</div>
				</div>

			</div> <!-- End of col-md-12 -->
		</div> <!-- End of row -->
	</div> <!-- End of container -->
</section>

<style>
	.boxshadow {
		padding: 10px;
		box-shadow: 5px 10px 8px 10px whitesmoke;
	}
</style>
