
<div style="background-color: black;">
	<br>
	<p style="color: aliceblue;margin-left: 15%;margin-top: 4%;font-size: 40px;"> <b>Team</b></p>
	<br>
</div>


<section class="mcr-sub-section secction-part-two">
		<div class="container">	
<div class="row team">
  <div class="column1">
    <div class="card">
      <img src="https://avatars.githubusercontent.com/u/20151628?v=4" alt="John" style="width:50%">
      <div class="container">
        <h4>Prasad Calyam</h4>      
      </div>
    </div>
  </div> 
  <div class="column1">
    <div class="card">
      <img src="https://avatars2.githubusercontent.com/u/10638886?v=4" alt="Jane" style="width:50%">
      <div class="container">
        <h4>Songjie Wang</h4>       
      </div>
    </div>
  </div>
  <div class="column1">
    <div class="card">
      <img src="https://avatars.githubusercontent.com/u/14354357?v=4" alt="John" style="width:50%">
      <div class="container">
        <h4>Roshan Neupane</h4>      
      </div>
    </div>
  </div>
  <div class="column1">
    <div class="card">
      <img src="https://avatars2.githubusercontent.com/u/54452439?v=4" alt="John" style="width:50%">
      <div class="container">
        <h4>Varsha Vakkavanthula</h4>     
      </div>
    </div>
  </div> 
  <div class="column1">
    <div class="card">
      <img src="https://avatars2.githubusercontent.com/u/43142609?v=4" alt="John" style="width:50%">
      <div class="container">
        <h4>Hemanth Sai Yeddulapalli</h4>      
      </div>
    </div>
  </div>
  <div class="column1">
    <div class="card">
      <img src="https://avatars.githubusercontent.com/u/47232185?v=4" alt="Mike" style="width:50%">
      <div class="container">
        <h4>Durbek Gafurov</h4>    
      </div>
    </div>
  </div>
  <div class="column1">
    <div class="card">
      <img src="https://avatars.githubusercontent.com/u/88738210?v=4" alt="Mike" style="width:50%">
      <div class="container">
        <h4>Kiran Neupane</h4>    
      </div>
    </div>
  </div>

</div>				
</div>
</section>



<style>
  .team img{
    padding: 20px;
  }
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column1 {
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  </style>


