<div class="alert alert-info">
    Please Complete Lab before if you have not already done so. These questions are based on the lab.
</div>
<div ng-if="startEvaluationFlag['TECH_ASMT'] && startEvaluationFlag['TECH_ASMT'] == true">
    <div ng-include="'view/modules/cyber_security/lab/technicalAssessment.html'"></div>
</div>


<div ng-if="startEvaluationFlag['TECH_ASMT_SUCCESS']" class="assessmentCompletedDiv alert alert-success">
    <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 40px;color: green;"> </i>
    <span style="font-size: 36px;">Congratulations!</span>
    <br>
    <span style="font-size: 20px;">You have successfully completed the assessment</span>
    <br>
    <span style="font-size: 20px;">Your Score : {{percentage}}% </span>
    <br>
</div>



   <!-- <div style="text-align: center;">
         <span style="font-size: 14px;"> Give some feedback to help us improve!</span>
        <br>
        <button value="Submit Feedback" class="lab-button" type="button" class="btn btn-info btn-lg" ng-click="loadEvalutationFeedback(statusModules.moduleId, 'FDBK')"><i class="fa fa-rocket"></i>&nbsp;&nbsp;Give Feedback</button>

    </div>

    <div ng-if="startEvaluationFlag['FDBK']">
        <div ng-include="'view/modules/cyber_security/lab/feedback.html'"></div>
    </div>
    <div ng-if="startEvaluationFlag['FDBK_DONE']" class="assessmentCompletedDiv alert alert-success">
        <i class="fa fa-check-circle" aria-hidden="true" style="font-size: 40px;color: green;"> </i>Done
        <br>
        <span style="font-size: 36px;">Thank You!</span>
        <br>
        <span style="font-size: 20px;">You have successfully Submitting Feedback!</span>
        <br>
    </div>
    <div ng-if="startEvaluationFlag['ALL_EVAL_DONE']" class="assessmentCompletedDiv alert alert-success">
        <br>
        <span style="font-size: 20px;">You have successfully completed the assessment!</span>
        <br>
        <span style="font-size: 20px;">Your Score : {{percentage}}% </span>
        <br>
        <span style="font-size: 14px;"> Please click on "Progress" to see your performance.</span>
        <br>
    </div>   -->
