<div ng-show="startEvaluationFlag['PRE_SRVY'] == true && hasSurvey == true"  style="text-align: center;">
    <div style="padding: 100px 0;"><b>Complete Small Survey before Starting Tutorial</b>
        <br/>
        <button value="Launch" class="lab-button" ng-click="loadEvalutation(statusModules.moduleId, 'PRE_SRVY')" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#preSurvayModal">
            <i class="fa fa-rocket"></i>&nbsp;&nbsp;TAKE START-UP SURVEY
        </button>
        
        <div ng-include="'view/modules/cyber_security/lab/pre-evaluation.html'"></div>
        
    </div>
</div>


<div ng-show="!startEvaluationFlag['PRE_SRVY']">
    
    <div ng-show="statusModules.labCompleted && statusModules.labCompleted == 'Y'" class="alert alert-success">

     	You have completed the lab exercise. Please complete the assessment to view your reward and rank amongst peers.		

  	</div>
  	
	<div class="md-stepper-horizontal lab_steps">
	    <!-- <a ng-show="!startEvaluationFlag['PRE_SRVY']" href="/MizzouCloudDevOps/img/MU-logo.gif"><img src = "/MizzouCloudDevOps/img/MU-logo.gif" width = "50"/></a> -->
	    <div class="md-step {{labStep.stepStatus}} " id="step-{{labStep.stepId}}-title" ng-repeat="labStep in labSteps" style="width:{{100/labSteps.length}}%;">
	        <div class="md-step-circle">
	        	<span ng-show="labStep.stepStatus != 'notdone'">
					<a class="nav-item nav-link active font-black nav-title" id="getting-start-tab" href="javascript:void(0);" ng-click="selectStep(labStep.stepId);" role="tab">
		    			<!-- {{labStep.stepId}} -->
		    		</a>
		    	</span>
		    	<span ng-show="labStep.stepStatus == 'notdone'"   >
		    			<!-- {{labStep.stepId}} -->
		        </span>
		    </div>
	        <div class="md-step-title">
	        	<div ng-show="labStep.stepStatus != 'notdone'" >
	           		<div ng-if="labStep.stepId == 1">
	           		<a class="nav-item nav-link active font-black nav-title" id="getting-start-tab" href="javascript:void(0);" ng-click="selectStep(labStep.stepId);" role="tab">
	            	 	<h5 style = "font-weight:bold;">{{labStep.stepName}}</h5>
	            	 </a>
	            	 </div>
	            	 <div ng-if="labStep.stepId != 1">
	           		<a class="nav-item nav-link active font-black nav-title" id="getting-start-tab" href="javascript:void(0);" ng-click="selectStep(labStep.stepId);" role="tab">
	            	 	<h5 style = "font-weight:bold;">Chapter {{convertStringToNumber(labStep.stepId) - 1}}: <br/> {{labStep.stepName}}</h5>
	            	 </a>
	            	 </div>
	            	 
		        </div>
		        
		        <div ng-show="labStep.stepStatus == 'notdone'" class="nav-title" >
	            	 <div ng-if="labStep.stepId ==1">
	            	 <h5 style = "font-weight:bold;">{{labStep.stepName}}</h5>
	            	 </div>
	            	 <div ng-if="labStep.stepId !=1">
	            	 <h5 style = "font-weight:bold;">Chapter {{convertStringToNumber(labStep.stepId) - 1}}: <br/> {{labStep.stepName}}</h5>
	            	 </div>
		        </div>
	        </div>
	        <div class="md-step-bar-left"></div>
	        <div class="md-step-bar-right"></div>
	    </div>
	    <!-- <a ng-show="!startEvaluationFlag['PRE_SRVY']" href="/MizzouCloudDevOps/img/CERI.png"><img src = "/MizzouCloudDevOps/img/CERI.png" width = "200" align = "right"/></a> -->

	</div>
    <div class="tab-content-steps tab-content-custom-steps" id="nav-tabContent-steps">
    	<div class="tab-pane-step fade "  id="step-{{labStep.stepId}}-tab" ng-repeat="labStep in labSteps">
    	
    	
			<div ng-include="labStep.viewName"></div>		
			
			
			<div ng-if="statusModules.stepsCompleted != '0' && statusModules.totalSteps != (labStep.stepId)">
						
				<div ng-show="statusModules.stepsCompleted == (labStep.stepId - 1)">
					<button value="Next" class="lab-button next-step-button" ng-click="updateStatus(statusModules.moduleId,userSessionVO.userId,statusModules.stepsCompleted);" type="button" class="btn btn-info btn-lg">Next Chapter</button>
				</div> 
				
			</div>
			
			<div ng-if="statusModules.totalSteps == (labStep.stepId) && statusModules.labCompleted != 'Y' ">
						
				
    			<button value="Next" class="lab-button next-step-button" ng-click="updateStatusAndCompleteLab(statusModules.moduleId,userSessionVO.userId,statusModules.stepsCompleted);" type="button" class="btn btn-info btn-lg">Complete Lab</button>
				
			</div>
			
			

        </div>
    
    </div>
   
</div>
